// Import Styles from Atom
@import "ui-variables";
@import "syntax-variables";

// Import Styles from Xterm
@import (inline) "../node_modules/xterm/css/xterm.css";

// Default fallback color
.ui-syntax-color() { @syntax-background-color: hsl(198, 24%, 20%); } .ui-syntax-color();

.terminal-view {
  .xterm {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .xterm-viewport {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
